@using Project.Models.ReservationView
@model IEnumerable<ReservationInfoViewModel>
@{
    ViewBag.Title = "All Reservation";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var a in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <p class="mb-0"><span class="fw-bold">Име: </span>@a.FirstName</p>
                <p class="mb-0"><span class="fw-bold">Фамилия: </span>@a.LastName</p>
                <p class="mb-0"><span class="fw-bold">Телефон: </span>@a.PhoneNumber</p>
                <p class="mb-0"><span class="fw-bold">Дата: </span>@a.Date</p>
                <p class="mb-0"><span class="fw-bold">Час на пристигане: </span>@a.Start</p>
                <p class="mb-0"><span class="fw-bold">Час на напускане: </span>@a.End</p>

            </div>


            <form class="input-group-sm" asp-area="" asp-controller="Reservation" asp-action="Yes" asp-route-phoneNumber="@a.PhoneNumber">
                <input type="submit" value="Готово" class="btn btn-success mb-3 w-100 p-3 fw-bold" />
            </form>
        </div>
    }
</div>

