@using Project.Enums
@model IEnumerable<RestaurantInfoViewModel>
@{
    ViewBag.Title = "Всички ресторанти";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get" class="row align-items-end">
    <div class="col-md-2 mb-3">
        <label for="searchString" class="visually-hidden">Търси по име</label>
        <input type="text" name="searchString" id="searchString" class="form-control" placeholder="Търси по име">
    </div>
    <div class="col-md-3 mb-3">
        <label for="category" class="visually-hidden">Category</label>
        <select name="category" id="category" class="form-select" aria-label="Category">
            <option value="">Всички видове</option>
            <option value="Бързо хранене">Бързо хранене</option>
            <option value="Изискан">Изискан</option>
            <option value="Рибен">Рибен</option>
            <option value="Кафе">Кафе</option>
            <option value="Бар">Бар</option>
            <option value="Други">Други</option>
        </select>
    </div>
    <div class="col-md-3 mb-3">
        <label for="city" class="visually-hidden">City</label>
        <select name="city" id="city" class="form-select" aria-label="City">
            <option value="">Всички Градове</option>
            @foreach (var city in Enum.GetValues(typeof(RegionalCity)))
            {
                <option value="@city">@city</option>
            }
        </select>
    </div>
    <div class="col-md-2 mb-3">
        <label for="rating" class="visually-hidden">Rating</label>
        <select name="rating" id="rating" class="form-select" aria-label="Rating">
            <option value="">Рейтинг</option>
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="col-md-2 mb-3">
        <button type="submit" class="btn btn-primary">Филтрирай</button>
    </div>
</form>







<div class="text-center row">
    @foreach (var a in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@a.Name</h5>
                <a href="@Url.Action("Details", "Restaurant", new { id = a.Id })">
                    <img class="card-img-top" src="@a.ImageUrl1" alt="Ad Image">
                </a>
                <p class="mb-0"><span class="fw-bold">Category: </span>@a.Category</p>
                @* <p class="mb-0"><span class="fw-bold">Description: </span>@a.Description</p> *@
                <p class="mb-0"><span class="fw-bold">City: </span>@a.City</p>
                
            </div>

            @if (User.Identity.Name == a.RestaurateurId)
            {
                <a asp-controller="Restaurant" asp-action="Edit" asp-route-id="@a.Id" class="btn btn-outline-warning mb-2 w-100 p-3 fw-bold">Edit the Restaurant</a>
                <form class="input-group-sm " asp-controller="Ad" asp-action="RemoveFromAll" asp-route-id="@a.Id">
                    <input type="submit" value="Remove from Cart" class="btn btn-danger mb-3 w-100 p-3 fw-bold" />
                </form>
            }
            else
            {

                <form class="input-group-sm " asp-controller="Restaurant" asp-action="AddFavoriteRestaurants" asp-route-id="@a.Id">
                    <input type="submit" value="Добави в любими" class="btn btn-outline-warning mb-3 w-100 p-3 fw-bold" />
                </form>


            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
